.spinner-container {
  position: fixed;         
  top: 0;
  left: 0;
  width: 100%;              
  height: 100%;             
  display: flex;
  justify-content: center;  
  align-items: center;      
  background-color: #00457e; 
  z-index: 9999;            
}
