.mi-contenedor-fondo {
  background-image: url('/imagenfondo.jpg');
  background-size: cover;  
  background-position: center; 
  background-repeat: no-repeat; 
  width: 100%; 
  height: 100vh;
  margin: 0; 
  padding: 0;

  display: flex;
  flex-direction: column;
}

.logo {
  width: 250px;     
  height: auto;
  margin: 20px auto 0 auto; 
}

.login-contenedor {
  flex: 1;
  display: flex;
  justify-content: center; 
  align-items: center;     
}

mat-card {
    background-color: white;
    width: 400px;     
    display: flex;
    flex-direction: column; 
    align-items: center;   
    padding: 20px;
}

mat-card-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

mat-form-field {
    width: 350px; 
    padding: 0%;  
    margin:0%;   
    max-width: 350px; 
    margin-bottom: 15px;
   
}



.button {
    display: flex;          
    justify-content: center;  
    width: 100%;              
    margin-top: 10px;          
}

.btn-custom {
  background-color: #00457e;
  color: #fff;       
  border: none;
}

.btn-custom:hover {
  background-color: #00345e; 
}
