.crear-empleados-contenedor {
  flex: 1;
  display: flex;
  justify-content: center; 
  align-items: center;     
}

mat-card {
    background-color: white;
    width: 400px;     
    display: flex;
    flex-direction: column; 
    align-items: center;   
    padding: 20px;
}

mat-card-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

mat-form-field {
  width: 350px; 
  max-width: 350px;
  margin-bottom: 15px;
}

select {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 8px 12px;
  width: 100%;
  font-size: 14px;
  color: #333;
  outline: none;
  transition: border 0.3s ease;
}

select:focus {
  border-color: #00457e;
  box-shadow: 0 0 0 2px rgba(0, 69, 126, 0.2);
}




.btn-custom {
  background-color: #00457e;
  color: #fff;       
  border: none;
}

.btn-custom:hover {
  background-color: #00345e; 
}

