.crear-paquetes-contenedor {
  flex: 1;
  display: flex;
  justify-content: center; 
  align-items: center;     
}

mat-card {
    background-color: white;
    width: 400px;     
    display: flex;
    flex-direction: column; 
    align-items: center;    
    padding: 20px;
}

mat-card-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

mat-form-field {
    width: 350px; 
    padding: 0%;  
    margin:0%;   
    max-width: 350px; 
    margin-bottom: 15px;
   
}



.btn-custom {
  background-color: #00457e;
  color: #fff;       
  border: none;
}

.btn-custom-cancel {
  background-color: #a50202;
  color: #fff;       
  border: none;
}


.btn-custom:hover {
  background-color: #00345e; 
}

h2{
  color:#00345e;
}

h3{
  color:#00345e;
}