.crear-paquetes-contenedor {
  flex: 1;
  display: flex;
  justify-content: center; 
  align-items: center;     
}

h2{
  color:#00345e;
}

.lista-polizas-contenedor{
  flex: 1;
  display: flex;
  justify-content: center; 
  align-items: center;     
}


mat-card {
  background-color: white;
  width: 1100px;  
  display: flex;
  flex-direction: column; 
  align-items: center;    
  padding: 20px;
}

mat-card-s {
  background-color: white;
  width: 400px;  
  display: flex;
  flex-direction: column; 
  align-items: center;    
  padding: 20px;
}

mat-card-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.btn-custom {
  background-color: #00457e;
  color: #fff;       
  border: none;
}

.btn-custom:hover {
  background-color: #00345e; 
}

mat-form-field input[readonly] {
  background-color: #f5f5f5; 
  color: #666; 
  cursor: not-allowed; 
  border-bottom: 1px solid #ccc; 
}


mat-form-field.readonly-field .mat-mdc-form-field-infix {
  background-color: #f5f5f5; 
}


mat-form-field input[readonly]:focus {
  outline: none; 
  box-shadow: none; 
}