<app-navbar-component></app-navbar-component>
<br>
<br>
<br>
<div class="crear-paquetes-contenedor">
  <mat-card>
    <h2>Buscar Pólizas</h2>
    <mat-card-content>
      <div class="filter-container">
        <mat-form-field appearance="fill">
          <mat-label>Valor de búsqueda</mat-label>
          <input matInput placeholder="Escribe para buscar..." [(ngModel)]="valorBusqueda">
          <button mat-icon-button matSuffix color="primary" aria-label="Botón de búsqueda" [disabled]="isLoading"
            (click)="buscarPoliza()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>

      </div>
    </mat-card-content>
  </mat-card>
</div>
<br>
<br>
<br>
<div class="crear-paquetes-contenedor">
  <div *ngIf="polizas.length === 0 && !isLoading">
   
  </div>
  <mat-card class="poliza-card" *ngFor="let poliza of polizas; trackBy: trackById">
    <mat-card-header>
      <mat-card-title>Póliza #{{ poliza.idPoliza }}</mat-card-title>
      <mat-card-subtitle>{{ poliza.nombrePoliza }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="poliza-details">
        <p><strong>ID Contratante:</strong> {{ poliza.idContratante }}</p>
        <p><strong>Nombre Contratante:</strong> {{ poliza.nombreContratante }}</p>
        <p><strong>Fecha de Inicio:</strong> {{ poliza.fechaCreacion }}</p>
        <p><strong>Fecha de Fin:</strong> {{ poliza.fechaVencimiento }}</p>
        <p><strong>Estado:</strong> {{ poliza.estado }}</p>
        <div *ngIf="poliza.beneficiarios && poliza.beneficiarios.length > 0">
          <h3>Beneficiarios:</h3>
          <ul>
            <li *ngFor="let beneficiario of poliza.beneficiarios">
              {{ beneficiario.primerNombre }} {{ beneficiario.apellidoPrimero }} - {{ beneficiario.parentesco }}
            </li>
          </ul>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions *ngIf="poliza.estado === 'activa'">
      <button class="btn btn-custom" (click)="openDialog(poliza)">
        Crear Reclamo
      </button>
    </mat-card-actions>
  </mat-card>
</div>
<br>
<app-progress-spinner-component *ngIf="isLoading"></app-progress-spinner-component>