<app-navbar-component></app-navbar-component>
<br>

<mat-grid-list cols="4" rowHeight="150px" gutterSize="16px">
  <div class="dashboard-container">
    <mat-card class="dashboard-card">
      <mat-card-title>Total Prima Vendida</mat-card-title>
      <mat-card-content>
        <p><strong>Hoy:</strong> {{ dashboardData.PRIMAVENDIDADIA | currency:'GTQ':'symbol-narrow':'1.2-2' }}</p>
        <p><strong>Mes:</strong> {{ dashboardData.PRIMAVENDIDAMES | currency:'GTQ':'symbol-narrow':'1.2-2' }}</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="dashboard-card">
      <mat-card-title>Total Costos Siniestros</mat-card-title>
      <mat-card-content>
        <p><strong>Hoy:</strong> {{ dashboardData.COSTOSINIESTROSDIA | currency:'GTQ':'symbol-narrow':'1.2-2' }}</p>
        <p><strong>Mes:</strong> {{ dashboardData.COSTOSINIESTROSMES | currency:'GTQ':'symbol-narrow':'1.2-2' }}</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="dashboard-card">
      <mat-card-title>Total Pólizas Vendidas</mat-card-title>
      <mat-card-content>
        <p><strong>Hoy:</strong> {{ dashboardData.POLIZASVENDIDASDIA }}</p>
        <p><strong>Mes:</strong> {{ dashboardData.POLIZASVENDIDASMES }}</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="dashboard-card">
      <mat-card-title>Total Siniestros Atendidos</mat-card-title>
      <mat-card-content>
        <p><strong>Hoy:</strong> {{ dashboardData.SINIESTROSATENDIDOSDIA }}</p>
        <p><strong>Mes:</strong> {{ dashboardData.SINIESTROSATENDIDOSMES }}</p>
      </mat-card-content>
    </mat-card>
  </div>

</mat-grid-list>

<app-progress-spinner-component *ngIf="isLoading"></app-progress-spinner-component>